<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.gov.mf.etoll">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:name="pl.gov.mf.etoll.app.NkspoApplicationImpl"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/etoll_application_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spoe"
        android:usesCleartextTraffic="false">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- api key for Google Maps. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/etoll_map_apikey" />

        <!--        Warning: android:exported="true" is required for this activity from Android 12-->
        <activity
            android:name="pl.gov.mf.etoll.front.MainActivity"
            android:exported="true"
            android:configChanges="colorMode"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="pl.gov.mf.etoll.core.messaging.PushReceiverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".overlay.OverlayService"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>